body{
    margin: 0;
}
.cabecalho{
    background-image:url(./assets/fotoCodigo.webp);
    height: 450px;
    width: 100%;
    margin-top: -22px;
    text-align: center;
    text-shadow: 1px;
}
.tituloCabecalho{
    color: aliceblue;
    padding-top: 10%;
}
.paragrafoCabecalho{
    color: aliceblue;
    font-size: large;
}
.botaoCabecalho{
    background-color: rgb(54, 54, 54);
    color: antiquewhite;
    border: solid 1px gray;
    height: 10%;
    width: 10%;
    font-size: large;
    margin-left: 20%;
    margin-right: 20%;
}
.botaoCabecalho:hover{
    background-color: aliceblue;
    color: black;
}
.botao{
    background-color: rgb(54, 54, 54);
    color: white;
    border: solid 1px gray;
    font-size: large;
    text-decoration: none;
}
.botao:hover{
    background-color: aliceblue;
    color: black;
}
.tituloCorpo1{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1%;
    font-size: 1.5em;
    
}
.pt1{
    text-align: center;
}
.div1{
    display: flex;
    justify-content: space-around;
}
.div1 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pt2{
    background-color:rgb(28, 28, 28);
}
.pt2 ul {
    list-style:none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4%;
} 
.img{
    width: 100%;
    height: 100%;
}
.div2{
    background-color: aliceblue;
    width: 280px;
    text-align: center;
    padding-bottom: 20%;
    border: 10px solid rgb(28, 28, 28);;
}
.div2 h3{
    font-size: larger;
    padding-top: 10%;
    padding-bottom: 10%;
}
.div2 p{
    font-size: large;
}
.pt3{
    text-align: center;
}

.pt4{
    display: flex;
    flex-direction: row;
}
.div3{
    color: aliceblue;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    background-color: #2690d4;
    height: 100%;
    width: 50%;
}
.div4{
    color: aliceblue;
    padding-top: 3%;
    padding-bottom: 3%;
    text-align: center;
    background-color:rgb(28, 28, 28);
    height: 100%;
    width: 50%;
}
.div3p{
    padding: 5%;
}
.div4p{
    padding: 4.8%;
}
.divCabecalho{
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media (max-width: 975px) {
    .cabecalho{
        height: 50%;
        padding-bottom: 10%
    }
    .botaoCabecalho{
        font-size: medium;
        height: 20%;
        width: 20%;   
    }
    .div2{
        width: 80%;
    }
    .img{
        width: 100%;
    }
    .pt2 ul{
        flex-direction: column;
        padding-left: 18%;
    }
}
@media (min-width: 2150px){
    .cabecalho{
        height: 800px;
    }
    .tituloCabecalho{
        font-size: 60px;
    }
    .paragrafoCabecalho{
        font-size: 35px;
    }
    .botaoCabecalho{
        font-size: 30px;
    }
    .tituloCorpo1{
        font-size: 42px;
    }
    .p1{
        font-size: 30px;
    }
    .div2 h3{
        font-size: 45px; 
    }
    .div2 p{
        font-size: 32px;
    }
    .div2{
        width: 450px;
    }
    .botao{
        font-size: 32px;
}
@media (min-width:3150px){
    .cabecalho{
        height: 1000px;
    }
    .tituloCabecalho{
        font-size: 80px;
    }
    .paragrafoCabecalho{
        font-size: 45px;
    }
    .botaoCabecalho{
        font-size: 45px;
    }
    .tituloCorpo1{
        font-size: 65px;
    }
    .p1{
        font-size: 45px;
    }
    .div2 h3{
        font-size: 60px; 
    }
    .div2 p{
        font-size: 42px;
    }
    .div2{
        width: 600px;
    }
    .botao{
        font-size: 45px;  
    }
}
}
