
.pagina{
    background-image: url("imagensPaginaPrincipal/background\ 2.jpg");
    background-size: 2500px;
}
.textoCabecalho{
    padding-top: 40px;
    color: white;
    text-align: center;
    font-size: 60px;
}
.titulos{
    padding-top: 70px;
    color: aliceblue;
    text-align: center;
    text-shadow: 0.1em 0.1em #333;
}
.textos{
    color: lightgray;
    font-size: 17px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0.1em 0.1em #333;
}
.projeto{
    text-decoration: none;
    color: aliceblue;
    text-align: center;
    padding: 12px;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 30px;
}
.projetosFaculdade{
    display: flex;
    flex-direction: column;
    height: 115%;
}
.projetosFora{
    display: flex;
    flex-direction: column;
    height: 115%;
}
.projetosFaculdade a:hover{
    border: 1px ridge white;
    padding: 12px;
    position: relative;
    border-radius: 30px;
    background-color: lightblue;
    color: black;
}
.projetosFora a:hover{
    border: 1px ridge white;
    padding: 12px;
    position: relative;
    border-radius: 30px;
    background-color: lightblue;
    color: black;
}
.titulos2{
    color: aliceblue;
}
.projetos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.titulos3{
    color: aliceblue;
}
.rodape{
    text-align: center;
}
.icones{
    height: 20px;
    width: 20px;
    color: aliceblue;
}
.contatoLinkedin i{
    font-size: 2em;
    background-color: white;
    border-radius: 10px;
}
.contatoInstagram i{
    font-size: 2em;
    background-color: white;
    border-radius: 10px;
    
}
.contatoGithub i{
    font-size: 2em;
    border: 1px solid white;
    background-color: #fff;
    border-radius: 20px;
}
.contatoGithub a{
    background-color: #fff;
}
.contatoLinkedin i:hover{
    border: 1px solid white;
    background-color: white;
    padding: 4px;
    border-radius: 25px;
}

.contatoInstagram i:hover{
    border: 1px solid white;
    background-color: white;
    padding: 4px;
    border-radius: 20px;

}
.contatoGithub i:hover{
    border: 1px solid white;
    background-color: white;
    padding: 4px;
    border-radius: 20px;
}
.contatoLinkedin{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 50px;
}
.contatoInstagram{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 400px;
}
.contatoGithub{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 400px;
}
.contatos{
position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 0px;
  flex-wrap: wrap;
}
.contatos li{
    list-style-type: none;
    
}
.contatos li a{
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}