.cabeçalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cefet{
    padding-right: 1200px;
    padding-left: 50px;
    padding-top: 50px;
}
.cabecalhoParte2{
    text-decoration: none;
    list-style: none;
    display: flex;
    border: 1px solid;
    justify-content: space-around;
    margin-right: 50px;
    padding: 0px;
    padding-right:0px;
    margin-bottom: 70px;
    
}

.cabecalhoParte2 li a {
    color: black;
    text-decoration: none;
    margin-right: 25px;
}
.quadro{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    padding: 0px;
    width: 500px;
    
}
.botao{
    text-decoration: none;
    display: flex;
    background-color: black;
    color: aliceblue;
    border: 1px solid white;
    border-radius: 20%;
    padding: 5px;
}
.corpo{
    padding-left: 33%;
}
