body {
    margin-right: 150px;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.menu{
    margin-top: 100px;
}
.celular img{
    margin-left: 50px;
    max-width: 700px;
    max-height: 700px;
}
.menuPerfil ul{
    list-style-type: none;
    margin-top: 0px;
}
.menuPerfil ul li a{
    text-decoration: none;
}
.menuPerfil ul li{
    margin-top: 20px;
}
.menuPerfil{
    display: flex;
    width: 350px;
    height: 320px;
    border: 1px solid lightgray;
    justify-content: center;
}
.imagemPerfil{
    display: flex;
    width: 100px;
    border-radius: 100px;
    margin-left: 60px;
    margin-bottom: 35px;
    margin-top: 15px;
}
.botaoContinuar{
    padding: 7px;
    background-color: rgb(114, 114, 223);
    border-radius: 8px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 25px;
}
.botaoRemover{
    color: rgb(114, 114, 223);
    margin-left: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div2{
    text-align: center;
    margin-top: 10px;
    border: 1px solid lightgrey;
    width: 350px;
    flex-direction: column;
    align-items: center;
}
.div2 p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
    color: gray;
}
.div2 p a{
    text-decoration: none;
    color: rgb(114, 114, 223);
}
.div3{
    text-align: center;
    margin-top: px;
}
.div3 div a img{
    width: 130px;
}
.div3 div{
    display: flex;
    justify-content: space-around;
    
}
.div3 p{
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@media screen and (max-width :700px) {
    .celular{
        display: none;
    }
    body{
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 100px;
        margin: 50px;
    }
    
}