.corpo{
    display: flex;
    flex-direction: column;
    justify-content: right;
    float: right;
    
}
.titulo{
    color: orangered;
    max-height: 7px;
    
}
.subtitulo{
    color: rgb(188, 185, 59);
    padding: 0px;
    margin: 0px;
    display: flex;
}
