* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: "Poppins";
    font-weight: 700
}

.title-form {
    margin-left: 9.3%;
    height: 38px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 32px
}

.input-title {
    width: 78.7%;
    height: 56px;
    border-radius: 8px;
    border: 2px solid #d6d6d6;
    padding-left: 16px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px
}

.form-inputs {
    display: flex;
    flex: row;
    gap: 20px
}

.form-title-descripition {
    display: flex;
    flex-direction: column;
    width: 29%;
    gap: 20px
}

.input-descricao {
    width: 100%;
    height: 136px;
    border-radius: 8px;
    border: 2px solid #d6d6d6;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 4.79616307%;
    resize: none
}

.input-image-container {
    max-width: 23.8194444%;
    width: 23.8194444%;
    border: 1px solid #000;
    margin-left: 9.3%;
    border-radius: 8px;
    border: 2px solid #e5e5e5;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 212px
}

.picture-image {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #858585;
    cursor: pointer
}

.picture-img {
    width: 100%;
    height: 200px;
    border-radius: 8px
}

.button-submit {
    width: 8.45%;
    height: 56px;
    margin-top: 16px;
    margin-left: 55.5%;
    border-radius: 8px;
    background-color: #ff5a5f;
    border: none;
    color: #fff;
    padding: 20px 16px 20px 16px;
    font: "Poppins";
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 60px
}

.result-title {
    height: 38px;
    font-family: "Poppins";
    font-weight: 700;
    font-size: 32px;
    margin-left: 9.05%;
    margin-bottom: 38px
}

input[type=file] {
    display: none
}

.form-result.slick-initialized.slick-slider.slick-dotted {
    margin-left: 6%;
    width: 82.8%;
    height: 424px;
    justify-content: center;
    align-items: center
}

.slick-track {
    display: flex;
    width: 103.55%;
    height: 424px;
    gap: 30px
}

.slick-list {
    display: flex;
    width: 103.55%
}

.item-list {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, .08);
    display: flex;
    flex-direction: column;
    align-items: center
}

.item-list img {
    width: 103%;
    height: 212px;
    border-radius: 8px
}

.item-list h2 {
    width: 85.2%;
    height: 60px;
    margin-top: 24px;
    margin-bottom: 8px
}

.item-list p {
    width: 85.2%;
    height: 96px;
    font-family: "Roboto";
    font-size: 16px;
    color: #858585;
    overflow: auto
}

.slick-prev {
    background-color: black;
}

.slick-next {
    background-color: black;
    right: -60px;
    
    
}

.slick-arrow {
    cursor: pointer
}

.slick-dots li button {
    width: 20px;
    height: 20px
}

@media(max-width: 1024px)and (min-width: 491px) {
    .form-inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center
    }

    .input-image-container {
        max-width: 96.9%;
        height: 570px;
        width: 96.9%;
        border: 1px solid #000;
        margin-left: 1%;
        border-radius: 8px;
        border: 2px solid #e5e5e5;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .input-title {
        width: 96.2%;
        height: 54px;
        border-radius: 8px;
        border: 2px solid #d6d6d6;
        padding-left: 16px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px
    }

    .form-title-descripition {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 20px;
        align-items: center
    }

    .input-descricao {
        width: 96.2%;
        height: 131px;
        border-radius: 8px;
        border: 2px solid #d6d6d6;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-top: 20px;
        padding-left: 4.79616307%;
        resize: none
    }

    .button-submit {
        width: 96.9%;
        height: 56px;
        margin-top: 26px;
        margin-left: 1.5%;
        margin-bottom: 40px;
        border-radius: 8px;
        background-color: #ff5a5f;
        border: none;
        color: #fff;
        padding: 20px 16px 20px 16px;
        font: "Poppins";
        font-weight: 700;
        font-size: 16px
    }

    .result-title {
        width: 79.9%;
        margin-left: 1.6%;
        margin-bottom: 32px
    }

    .form-result {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0
    }

    .item-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 96.9%;
        margin-bottom: 24px
    }

    .item-list img {
        width: 100%;
        height: 570px;
        border-radius: 8px
    }

    .item-list h2 {
        width: 93.67%;
        height: 60px
    }

    .item-list p {
        width: 95.15%;
        font-family: "Roboto";
        font-size: 16px;
        color: #858585;
        overflow: auto;
        height: 24px
    }

    .picture-img {
        max-height: 560px;
        min-height: 540px;
        width: 100%
    }
}

@media(max-width: 490px) {
    .title-form {
        width: 88.7%;
        margin-left: 4%;
        height: 76px;
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 32px
    }

    .form-inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center
    }

    .input-image-container {
        max-width: 91.5%;
        height: 212px;
        width: 91.5%;
        border: 1px solid #000;
        margin-left: 1%;
        border-radius: 8px;
        border: 2px solid #e5e5e5;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .input-title {
        width: 90.8%;
        height: 54px;
        border-radius: 8px;
        border: 2px solid #d6d6d6;
        padding-left: 16px;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px
    }

    .form-title-descripition {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
        margin-left: 0
    }

    .input-descricao {
        width: 90.8%;
        height: 131px;
        border-radius: 8px;
        border: 2px solid #d6d6d6;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        padding-top: 20px;
        padding-left: 4.79616307%;
        resize: none
    }

    .button-submit {
        width: 91.5%;
        height: 56px;
        margin-left: 4%;
        margin-top: 10px;
        margin-bottom: 40px;
        border-radius: 8px;
        background-color: #ff5a5f;
        border: none;
        color: #fff;
        padding: 20px 16px 20px 16px;
        font: "Poppins";
        font-weight: 700;
        font-size: 16px
    }

    .result-title {
        width: 79%;
        height: 38px;
        font-family: "Poppins";
        font-weight: 700;
        font-size: 32px;
        margin-left: 4%;
        margin-bottom: 32px
    }

    .form-result {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0
    }

    .item-list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
        margin-bottom: 48px
    }

    .item-list img {
        width: 91.5%;
        height: 212px;
        border-radius: 8px
    }

    .item-list h2 {
        width: 64%;
        height: 60px;
        margin-right: 16%;
        margin-top: 19px;
        margin-bottom: 8px
    }

    .item-list p {
        width: 78.8%;
        font-family: "Roboto";
        font-size: 16px;
        color: #858585;
        overflow: auto;
        height: 72px;
        margin: 0
    }

    .picture-img {
        max-height: 560px;
        min-height: 540px;
        width: 100%
    }

    .picture-img {
        max-width: 100%;
        max-height: 200px;
        min-height: 190px
    }
}

@media(min-width: 2500px) {
    .title-form {
        width: 38.4%;
        font-size: 64px;
        height: 77px;
        margin: 40px 0 40px 130px
    }

    .input-image-container {
        height: 400px;
        width: 24%;
        max-width: 24%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 0 0 130px
    }

    .picture-image {
        font-size: 32px;
        font-weight: 400
    }

    .picture-img {
        max-height: 400px;
        min-height: 380px
    }

    .form-title-descripition {
        width: 29.2%
    }

    .input-title {
        padding: 10px 0 10px 16px;
        width: 78.8%;
        height: 64px;
        font-size: 32px;
        font-weight: 400
    }

    .input-descricao {
        padding: 40px 0 222px 16px;
        height: 320px;
        font-size: 32px;
        font-weight: 400
    }

    .button-submit {
        padding: 0;
        width: 201px;
        height: 80px;
        font-size: 32px;
        margin-left: 51%
    }

    .result-title {
        font-size: 64px;
        height: 77px;
        width: 22.78%;
        margin: 0px 0 41px 130px
    }

    .form-result.slick-initialized.slick-slider.slick-dotted {
        width: 95%;
        height: 768px;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        margin-left: 0
    }

    .item-list img {
        height: 400px;
        width: 544px
    }

    .item-list h2 {
        height: 120px;
        font-size: 48px;
        font-weight: 700
    }

    .item-list p {
        font-family: "Roboto";
        font-size: 32px;
        height: 192px;
        color: #858585;
        overflow: auto
    }

    .slick-track {
        display: flex;
        height: 768px
    }

    .slick-list {
        margin-left: 3%;
        display: flex;
        width: 100%;
        gap: 21px
    }

    .slick-prev {
        background-image: url("./images/esquerdagrande.png");
        height: 58px;
        width: 26px;
        left: 10px
    }

    .slick-next {
        background-image: url("./images/direitagrande.png");
        right: -100px;
        height: 58px;
        width: 26px
    }

    .slick-prev::before {
        height: 58px;
        width: 26px
    }

    .slick-next::before {
        height: 58px;
        width: 26px
    }
}